<section class="main-wrapper">
	<div class="example-container">
		<h2 class="title">Welcome ToDo App</h2>
		<mat-form-field>
			<input autocomplete="off" matInput [(ngModel)]="data.email"  placeholder="Email">
		</mat-form-field>
		
		<mat-form-field>
			<input autocomplete="off" matInput [(ngModel)]="data.password"  placeholder="Password">
		</mat-form-field>
		<span class="bottom-text">Not yet member : <a routerLink="/signup">Register Here!</a></span>
		<!-- routerLink="/todolist" -->
		<button mat-flat-button color="primary"  (click)="submitMethod()">Login Here</button>
	</div>
</section>

