<app-nav-bar></app-nav-bar>
<section class="listWrapper">
	<div class="heading">
		<h2 class="title">Manage Books</h2>
		<h4 class="subTitle">
			Welcome To Book Store {{userName}} 
		</h4>
	</div>
	<!-- <form action='/api/images' method="post" enctype="multipart/form-data">
		<input type='file' [(ngModel)]="imgFile" name='image' />
		<button (click)="methodCalled()"></button>
	  </form> -->
	<article>
		<h4>Create New Book</h4>
		<button mat-flat-button color="primary" routerLink="/editlist">Create Here</button>
	</article>
	<mat-form-field class="width100">
		<input matInput autocomplete="off" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>

	<div class="mat-elevation-z8  tableWrapper">
		<table mat-table [dataSource]="dataSource" >
			<!-- ISBN Column -->
			<ng-container matColumnDef="isbn">
				<th mat-header-cell *matHeaderCellDef> ISBN </th>
				<td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
			</ng-container>

			<!-- Title Column -->
			<ng-container matColumnDef="title">
				<th mat-header-cell *matHeaderCellDef> Title </th>
				<td mat-cell *matCellDef="let element"> {{element.title}} </td>
			</ng-container>

			<!-- Author Column -->
			<ng-container matColumnDef="author">
				<th mat-header-cell *matHeaderCellDef> Author </th>
				<td mat-cell *matCellDef="let element"> {{element.author}} </td>
			</ng-container>

			<!-- Author Column -->
			<ng-container matColumnDef="published_year">
				<th mat-header-cell *matHeaderCellDef> Published Year </th>
				<td mat-cell *matCellDef="let element"> {{element.published_year}} </td>
			</ng-container>

			<!-- Publisher Column -->
			<ng-container matColumnDef="publisher">
				<th mat-header-cell *matHeaderCellDef> Publisher </th>
				<td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
			</ng-container>

			<!-- pages Column -->
			<ng-container matColumnDef="pages">
				<th mat-header-cell *matHeaderCellDef> Pages </th>
				<td mat-cell *matCellDef="let element"> {{element.pages}}</td>
			</ng-container>

			<!-- edit Column -->
			<ng-container matColumnDef="edit">
				<th mat-header-cell *matHeaderCellDef> Edit </th>
				<td mat-cell *matCellDef="let element" class='fontIcons'> 
					<a href="javascript:;" (click)="listEdit(element)">
						<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</a>
				</td>
			</ng-container>

			<!-- edit Column -->
			<ng-container matColumnDef="delete">
				<th mat-header-cell *matHeaderCellDef> Remove </th>
				<td mat-cell *matCellDef="let element" class='fontIcons'> 
					<a href="javascript:;" (click)="listDelete(element)">
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</a> 
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
	</div>
</section>