/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/css?family=Raleway:400|Roboto');

body{
    background: rgb(41, 41, 41);
    color: #fff
}
span, label, p, textarea, input, select,{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Raleway', sans-serif;
}